[alias]
	b = branch
	s = status
	d = diff
  dc = diff --cached
	co = checkout
	dc = diff --cached
	log-tree = log --graph --date=short --format='%C(yellow)%h%C(reset) %C(magenta)[%ad]%C(reset)%C(auto)%d%C(reset) %s %C(cyan)@%an%C(reset)'
	log-tree-old = log --graph --pretty='format:%C(yellow)%h%Creset %s %Cgreen(%an)%Creset %Cred%d%Creset'
[user]
	name = Naoki Yaguchi
	email = murooka.1129.x50@gmail.com
[core]
	excludesfile = ~/.gitignore_global
[pull]
	rebase = true
[color]
	ui = true
[merge]
	ff = false
[pager]
	log = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less
[ghq]
	root = ghq
[diff "json"]
	textconv = "perl -MJSON -0e \"print JSON->new->canonical->pretty->encode(decode_json(<>))\""
[diff]
	compactionHeuristic = true
[interactive]
	diffFilter = diff-highlight
