[alias]
	b = branch
	s = status
	d = diff
  dc = diff --cached
	co = checkout
	dc = diff --cached
	log-tree = log --graph --date=short --format='%C(yellow)%h%C(reset) %C(magenta)[%ad]%C(reset)%C(auto)%d%C(reset) %s %C(cyan)@%an%C(reset)'
	log-tree-old = log --graph --pretty='format:%C(yellow)%h%Creset %s %Cgreen(%an)%Creset %Cred%d%Creset'
	delete-merged-branches = !git branch --merged | grep -v \\* | grep -v master | xargs git branch -d
	showpr = !"f() { git log --merges --oneline --reverse --ancestry-path $1...master | grep 'Merge pull request #' | head -n 1; }; f"
[user]
	name = Naoki Yaguchi
[core]
	excludesfile = ~/.gitignore_global
#	pager = diff-so-fancy | less --tabs=4 -RFX
[pull]
	rebase = true
[color]
	ui = true
[merge]
	ff = false
# [pager]
# 	log = diff-highlight | less
# 	show = diff-highlight | less
# 	diff = diff-highlight | less
[ghq]
	root = ~/src
[diff "json"]
	textconv = "jq ."
[diff]
	compactionHeuristic = true
[interactive]
	diffFilter = diff-highlight
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
