[alias]
	b = branch
	s = status
	d = diff
  dc = diff --cached
	co = checkout
	dc = diff --cached
[user]
	name = Naoki Yaguchi
	email = murooka.1129.x50@gmail.com
[core]
	excludesfile = ~/.gitignore_global
[pull]
	rebase = true
[color]
	ui = true
[merge]
	ff = false
